@import "../../../styles/main.scss";

.menu {
  position: absolute;
  inset: 0;
  background-color: rgba($black, 0.4);
  visibility: hidden;
  opacity: 0;
  z-index: -9;

  @include breakpoint(large) {
    display: none;
  }

  transition: opacity 378ms cubic-bezier(0.4, 0, 0.2, 1);

  &__box {
    width: 60%;
    height: 100vh;
    background-color: $white;
    margin-left: -100%;
    transition: margin-left 0.7s ease-in-out;
  }
}

.menu_active {
  visibility: visible;
  opacity: 1;
  z-index: 999;
}

.menu_active .menu__box {
  margin-left: 0;
}
