@import "../../../../styles/main.scss";

.modal,
.modal_add,
.modal_edit {
  width: 70vw;
  height: 80vh;
  background-color: $white;
  border-radius: rem(8);
}

.modal_delete {
  width: 50vw;
  height: 50vh;
  background-color: $white;
}
